.input-file-imgs {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  top: 0;
  left: 0;
}

.img-size {
  width: 110px;
  height: 110px;
  object-fit: cover;
  transition: all 200ms;
}

.img-size:hover {
  transform: scale(1.05);
  transition: all 200ms;
}

.add-image {
  background-color: var(--p-surface-200);
  padding: 7px;
  user-select: none;
}

::ng-deep {
  .galery-border {
    button {
      background: var(--color-primary);
      color: var(--color-light);

      &:hover {
        color: var(--color-light) !important;
        background: var(--font-color-default) !important;
      }
    }

    .p-galleria {
      border: 1px solid var(--color-primary) !important;
    }
  }
}


.inner-add-image {
  width: 100%;
  height: 100%;
  border: 2px dashed var(--p-primary-color);
  border-radius: 7px;
}

.inner-add-image:hover {
  background-color: var(--p-surface-300);
}

:host-context(.dark-mode) {
  .add-image {
    background-color: var(--p-surface-800);
  }

  .inner-add-image:hover {
    background-color: var(--p-surface-700);
  }

}
