.breadcrumb {
  height: 25px;
}

.title-breadcrumb {
  color: var(--p-primary-700);
}

:host-context(.dark-mode) {
  .title-breadcrumb {
    color: var(--color-light);
  }
}

::ng-deep .route-select {
  width: 220px;
}
