.menu-desktop {
  height: 100%;
  color: var(--p-primary-color);
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
}

::ng-deep.btn-expand {
  width: 40px;
  height: auto;

  img {
    width: 30px;
    height: auto;
  }

  &:hover {
    background: var(--color-light) !important;

    img {
      filter: brightness(0) saturate(100%) invert(27%) sepia(34%) saturate(1367%) hue-rotate(118deg) brightness(91%) contrast(95%);
    }
  }
}

.app-name-div {
  transition: opacity 0.5s;
}

.app-name-div.reduced {
  opacity: 0;
}

.app-name {
  font-size: 28px;
  font-weight: bold;
  margin-left: 11px;
}

.app-version {
  font-size: 10px;
  margin-left: 12px;
  text-align: left;
  color: var(--color-light);
}

.menuItems {
  margin-top: 30px;
  padding-left: 3px;
  transition: padding-left 0.5s;
}

.menu-desktop.expanded .menuItems{
  padding-left: 0;
}
