.container-card {
  width: 100%;
  background: var(--p-primary-900);
  transition: height 0.5s;
}

.text-white {
  color: var(--color-light);
}

::ng-deep {
  .container-card {
    .p-password-input, .p-datepicker-input{
      width: 100%;
    }

    .p-password-toggle-mask-icon {
      cursor: pointer;
    }
  }
}
