<div>
  <div class="grid p-0">
    <div class="col-12 md:col-6 xl:col-4 md:pb-0 flex flex-column" [class.column-left]="!isMobile()">
      <div class="os-resume p-3 pl-4 border-round-3xl">
        <div class="grid px-0">
          <div class="col-6 flex align-items-center">
            <span class="pi pi-qrcode mr-3"></span>
            <div class="flex flex-column">
              <span>Código</span>
              <span class="font-bold">{{ serviceOrder?.code || 'Não informado' }}</span>
            </div>
          </div>

          <div class="col-6 flex align-items-center">
            <div >
              <div class="status-icon" >
                <span class="pi pi-bolt mr-3"></span>
              </div>
            </div>
            <div class="flex flex-column">
              <span>Status</span>
              <span class="font-bold">{{ serviceOrder?.status || 'Não informado' }}</span>
            </div>
          </div>

          <div class="col-6 flex align-items-center">
            <span class="pi pi-calendar mr-3"></span>
            <div class="flex flex-column">
              <span>Data Emissão</span>
              @if(serviceOrder?.createdAt) {
                <span class="font-bold">{{serviceOrder?.createdAt | date: 'dd/MM/yyyy' }}</span>
              } @else {
                <span class="font-bold">Não informado</span>
              }
            </div>
          </div>

          <div class="col-6 flex align-items-center">
            <span class="pi pi-calendar-clock mr-3"></span>
            <div class="flex flex-column">
              <span>Data Execução</span>
              @if (serviceOrder?.date_start) {
                <span class="font-bold">{{serviceOrder?.date_start | date:'dd/MM/yyyy' }}</span>
              } @else {
                <span class="font-bold"> Não informado </span>
              }
            </div>
          </div>

          <div class="col-12 flex align-items-center">
            <span class="pi pi-building mr-3"></span>
            <div class="flex flex-column">
              <span class="font">Cliente</span>
              <span class="font-bold">{{serviceOrder?.client?.name}}</span>
            </div>
          </div>

          <div class="col-12 flex align-items-center">
            <span class="pi pi-map-marker mr-3"></span>
            <div class="flex flex-column">
              <span class="font">Local</span>
              <span class="font-bold">{{serviceOrder?.adress}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3 md:flex-1">
        <div class="os-resume h-full p-3 pr-0 border-round-3xl">
          <div class="mr-3">
            <app-service-order-items
              [soId]="serviceOrder!.id!"
              [serviceTypes]="serviceTypes"
              [canAddItems]="true"
              [isDetails]="true"
              [(items)]="soItemList"
              (onSelect)="onSelectItem($event)"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 xl:col-8 md:pb-0 flex flex-column" [class.column-right]="!isMobile()">
      <div class="os-resume p-3 md:flex-1 pr-0 border-round-3xl">
        @if (currentSoItem) {
          <app-service-order-item-details
            [soItem]="currentSoItem"
             (onEditItem)="toggleDialogItem()"
          />
        } @else {
          <div class="flex not-item-selected mr-3 border-round-2xl align-items-center justify-content-center h-full">
            <span class="opacity-80 py-5">
              Selecione um serviço para visualizar os detalhes
            </span>
          </div>
        }
      </div>
    </div>
  </div>
</div>


<p-dialog
  header="Editar Ordem de Serviço"
  [(visible)]="showDialog"
  [modal]="true"
  [style]="{width: isMobile()?'90%':'60%'}"
>
  @if(showDialog) {
    <div class="pt-2">
      <app-service-order-form
        [editSO]="serviceOrder"
        [isDetails]="true"
      />
    </div>
  }
</p-dialog>

<p-dialog
  header="Editar Serviço"
  [(visible)]="showDialogItem"
  [modal]="true"
  [style]="{width: isMobile()?'90%':'380px'}"
>
  @if(showDialogItem) {
    <div class="pt-2">
      <app-service-order-item-form
        [soId]="serviceOrder!.id!"
        [editItem]="currentSoItem"
        [serviceTypes]="serviceTypes"
        (onSaveItem)="onSaveItem($event)"
      />
    </div>
  }
</p-dialog>
