.os-resume {
  background: var(--p-surface-50);
}

.column-right {
  height: calc(100vh - 192px);
  overflow-y: auto;
}

.column-left {
  height: calc(100vh - 192px);
  overflow-y: auto;
}

.not-item-selected {
  border: 2px dashed var(--p-primary-color);
}

:host-context(.dark-mode) {
  .os-resume {
    background: var(--p-surface-900);
  }
}
