.header-bar-home {
  color: var(--p-primary-color);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-app-name-div {
  display: flex;
  align-items: baseline;

}

.header-app-name {
  font-size: 24px;
  font-weight: bold;
  margin-left: 11px;
}

.header-app-version {
  font-size: 10px;
  margin-left: 8px;
  text-align: left;
  color: var(--color-light);
}

::ng-deep.btn-header{
  .pi {
    font-size: 14px !important;
  }

  &:hover {
    background: var(--color-light) !important;

    img {
      filter: brightness(0) saturate(100%) invert(27%) sepia(34%) saturate(1367%) hue-rotate(118deg) brightness(91%) contrast(95%);
    }
  }
}

::ng-deep.btn-user {
  background: var(--p-primary-color) !important;
  color: var(--p-primary-contrast-color) !important;

  .pi {
    color: var(--p-primary-950);
  }

  &:hover {
    background: var(--p-primary-600) !important;

    .pi {
      color: var(--p-primary-contrast-color);
    }
  }
}

::ng-deep.btn-menu-header {
  width: 32.4px;
  height: 32px;

  &:hover {
    background: var(--color-light) !important;

    img {
      height: 20px;
      width: auto;
      filter: brightness(0) saturate(100%) invert(27%) sepia(34%) saturate(1367%) hue-rotate(118deg) brightness(91%) contrast(95%);
    }
  }
}
