/* You can add global styles to this file, and also import other style files */

$font-family: Roboto, serif;
$mobile-button-height: 38px;

:root{
  --color-background: #002326;
  --color-background-blur: rgba(56, 61, 73, 0.5);
  --color-ellipse: #1489a3;
  --color-light: #ffffff;
  --btn-height-mobile: $mobile-button-height;
  --form-height-mobile: $mobile-button-height;
  --p-button-border-radius: 15px !important;
  --p-stepper-steppanel-background: transparent !important;
  --p-stepper-separator-background: var(--p-surface-300) !important;
}

*{
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

html, body {
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

html {
  background: var(--p-primary-950);
  transition: background-color 0.5s;
}

html.dark-mode {
  background: var(--p-surface-950);
}

p {
  margin: 0;
  padding: 0;
}

.animation-slidedown {
  animation: slidedown 1.5s forwards;
  overflow: hidden;
}

@keyframes slidedown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 720px;
    opacity: 1;
  }
}

// custom styles
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

.w-transition {
  transition: width 0.5s;
}


.ellipsis-1, .ellipsis-2, .ellipsis-3, .ellipsis-4, .ellipsis-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-1 {
  -webkit-line-clamp: 1;
}

.ellipsis-2 {
  -webkit-line-clamp: 2;
}

.ellipsis-3 {
  -webkit-line-clamp: 3;
}

.ellipsis-4 {
  -webkit-line-clamp: 4;
}

.ellipsis-5 {
  -webkit-line-clamp: 5;
}

.p-datepicker-select-month, .p-datepicker-select-year, .p-datepicker-day {
  font-size: 14px;
}

.p-dialog-header {
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.p-datepicker-input{
  width: 100%;
}

.p-datepicker-weekday {
  font-size: 13px;
}

.p-datepicker-day-cell  {
  padding: 0 !important;
}

.p-datepicker-panel {
  padding-top: 2px !important;
}

.p-datepicker-header {
  padding-bottom: 0 !important;
}

.p-step {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-stepper-separator {
  left: -9px !important;
}

input, textarea, .p-select {
  border-radius: 12px !important;
}

.p-breadcrumb {
  background: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  ol {
    li:last-child {
      span {
        color: var(--p-primary-700);
        font-weight: bold;
        font-size: 17.5px;
      }
    }
  }
}

.dark-mode  {
  .p-breadcrumb {
    ol {
      li:last-child {
        span {
          color: var(--color-light);
        }
      }
    }
  }
}


// mobile styles
.mobileversion {
  input {
    min-height: var(--form-height-mobile);
  }

  .p-select, .p-multiselect{
    min-height: var(--form-height-mobile);

    .p-select-label, .p-multiselect-label {
      margin-top: 3px;
    }
  }

  .p-button-mobile {
    min-height: var(--btn-height-mobile);
  }
}
