/* You can add global styles to this file, and also import other style files */

$font-family: Roboto, serif;

:root{
  --color-background: #002326;
  --color-background-blur: rgba(56, 61, 73, 0.5);
  --color-ellipse: #1489a3;
  --color-light: #ffffff;
}

*{
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

html, body {
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.animation-slidedown {
  animation: slidedown 1.5s forwards;
  overflow: hidden;
}

@keyframes slidedown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 720px;
    opacity: 1;
  }
}

// custom styles
.w-transition {
  transition: width 0.5s;
}


.p-datepicker-select-month, .p-datepicker-select-year, .p-datepicker-day {
  font-size: 14px;
}

.p-datepicker-weekday {
  font-size: 13px;
}

.p-datepicker-day-cell  {
  padding: 0 !important;
}

.p-datepicker-panel {
  padding-top: 2px !important;
}

.p-datepicker-header {
  padding-bottom: 0 !important;
}


// mobile styles
.mobileversion {
  input {
    min-height: 38px;
  }

  .p-select, .p-multiselect{
    min-height: 38px;

    .p-select-label, .p-multiselect-label {
      margin-top: 3px;
    }
  }

  .p-button-mobile {
    min-height: 38px;
  }
}
