.so-item-card {
  background: var(--p-surface-50);
  height: 150px;
}

.color-primary {
  color: var(--p-primary-700);
}

.number-head{
  background: var(--p-primary-700);
  color: var(--p-primary-contrast-color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

:host-context(.dark-mode) {
  .so-item-card {
    background: var(--p-surface-800);
  }
}

::ng-deep.card-menu-position {
  margin-left: -150px
}
